body{
    font-family:sans-serif;
    padding:0px;
    margin:0px;
  }
  
  button{
    display:block;
    background:yellow;
    color:black;
    width:10%;
    font-size:22px;
    font-weight:900;
    padding:10px 15px;
    border:3px solid black;
    margin:30px auto;
  }
  .popup-window{
    position:fixed;
    top:0%;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display:none;
  }
  .popup-box{
    width:500px;
    height:250px;
    background-color:white;
    color:black;
    position:absolute;
    top:25%;
    left:30%;
    text-align: center;
  }
  .close-menu{
    font-weight:900;
    font-size:20px;
    text-align:right;
    padding-right:20px;
    cursor:pointer;
  }
  .msg{
    font-weight: bolder;
  }
  a{
   text-align:center;
   text-decoration:none;
   background:red;
   color:white;
   padding: 10px 15px;
   font-size:20px;
   font-weight:800;
  }
  